body {
	color: black;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 73%;
	margin: 0;
	padding: 0;
}

html > body {
	font-size: 9pt;
}

a:link {
	font-family: verdana, helvetica, arial, sans-serif;
	cursor: pointer;	
	color: black;	
}

a:active {
	font-family: verdana, helvetica, arial, sans-serif;
	cursor: pointer;
	color: black;
}

a:visited {
	font-family: verdana, helvetica, arial, sans-serif;
	cursor: pointer;
	color: black;
}

a:hover {
	font-family: verdana, helvetica, arial, sans-serif;
	cursor: pointer;
	color: black;
	text-decoration: none;
}

/* Header */

#header {
	color: inherit;
	background-color: rgb(184,38,25);
}

.session {
	color: black;
	background-color: #eee9e9;
	text-align: right;
	margin: 0;
	padding: 0.5ex 10px;
}

.session span {
	color: #900;
	background-color: transparent;
	font-weight: bold;
}

.logo {
	color: black;
	background-color: #cdc9c9;
	text-align: center;
	margin: 0;
	padding: 0.26ex 10px;
}

.navigation {
	color: white;
	background-color: #8b8989;
	font-size: 109%;
	text-align: center;
	margin: 0;
	padding: 0.5ex 0;
}

.navigation a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	margin: 0;
	padding: 0 1ex;
}

/* Content */

#content {
	color: black;
	background-color: white;
	text-align: justify;
	line-height: 1.5em;
	margin: 0 0 0 13.5em;
	padding: 0.5ex 15em 1em 1em;
	border-left: 1px solid rgb(216,210,195);
}

/* Extra */

fieldset {
	margin: 1em 0;
	padding: 1.2em;
	padding-top: 0.4em;
	background: #FFFFFF;
	border: 1px solid #e7e8ac;
}

form label {
	color: #444;
	font-size: 1.2em;
	font-weight: bold;
}

.flash_notice {
	color: #333;  
	background: #efe;
	border: solid 1px #bd7;  
}

.flash_notice .message {
	padding: 0 0 0 25px;
}

.flash_alert {
	color: #FF0000;  
	background: #f88;
	border: solid 1px #FF0000;  
}

.flash_alert .message {
	padding: 0 0 0 25px;
}

dt {
	font-weight: bold;
	margin: 0;
	padding: 0 0 0.5ex 0;
}

dd {
	margin: 0 0 1.5em 1.5em;
	padding: 0;
}