<%= f.error_messages %>

<p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
</p>
<p>
    <%= f.label :body %><br />
	<%= textile_editor 'post', 'body' -%>
	<%= textile_editor_initialize -%>
</p>
<p>
    <%= f.submit  %>
</p>